# Environments (Saves Git from scanning 8GB of python packages)
venv310/
venv/
wslvenv/

# File Types (Blocks all large archives, images, and weights everywhere)
*.zip
*.tar.gz
*.rar
*.jpg
*.jpeg
*.png
*.pt
*.pth
*.joblib
*.pkl

# Repositories & Packages
ultralytics/
.vscode/

# Heavy Data & Model Folders
Input_Images/
Models_old_Dataset/
Outputs_Old_Dataset/
Output_MLP_Evaluation/
Outputs_Generalize36/
Output_MLP_Training/
New_Codes/Output_MLP_Evaluation/
New_Codes/Output_MLP_Training/

# Specific Output & Model Subdirectories
models/
runs/
Outputs/
Outputs*/
models*/
